:host {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
}

.resumeCard {
  /*all: unset;*/
  /*border-radius: 4px;*/
  width: 100%;
  /*margin-bottom: 16px;*/
  /*padding: 16px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: start;*/
  /*transition: all 0.2s ease-in-out;*/
  /*line-height: 24px;*/
  row-gap: 5px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

