<div role="main">
  <header class="header">
    <h1>Trent Meyer</h1>
    <div class="links-list">
      <a
        href="https://www.linkedin.com/in/trent-meyer/"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn</a
      >
      <span class="dot"></span>
      <a
        href="https://github.com/trentmyr/"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub</a
      >
    </div>
  </header>
  <div class="content" style="max-width: 600px">
    <div class="horizontal-fill">
      <h2>Projects</h2>
      <span class="separator-line"></span>
    </div>
    <h3 class="placeholder-text">WIP...</h3>
    <div class="horizontal-fill">
      <h2>Experiences</h2>
      <span class="separator-line"></span>
    </div>
    <h3 class="placeholder-text">WIP...</h3>
    <resume-list></resume-list>
  </div>

  <!-- <footer>
    <a
      href="https://github.com/trentmyr/myr-personal-site"
      target="_blank"
      rel="noopener noreferrer"
      style="color: #383838"
      >Source</a
    >
  </footer> -->
</div>

<router-outlet></router-outlet>
