<div role="main">
  <div class="header">
    <h1>Trent Meyer</h1>
    <div class="links-list">
      <a
        href="https://www.linkedin.com/in/trent-meyer/"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn</a
      >
      <span class="dot"></span>
      <a
        href="https://github.com/trentmyr/"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub</a
      >
      <span class="dot"></span>
      <a
        href="https://www.threads.net/@trentmyr"
        target="_blank"
        rel="noopener noreferrer"
        >Threads</a
      >
    </div>
  </div>
  <div class="content">
    <h4>updates coming soon...</h4>
    <h3>Testing deploy</h3>
    <!-- <resume-list></resume-list> -->
  </div>

  <footer>
    <a
      href="https://github.com/trentmyr/myr-personal-site"
      target="_blank"
      rel="noopener noreferrer"
      style="color: #383838"
      >Source</a
    >
  </footer>
</div>

<router-outlet></router-outlet>
