<div role="main">
  <header>
    <div class="headerContent" style="grid-column-start: 2">
      <h1 style="margin: 0">Trent Meyer</h1>
      <p>Software Engineer</p>
    </div>

    <div class="headerContentLinks">
      <a
        class="headerLink"
        href="https://www.linkedin.com/in/trent-meyer/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          ngSrc="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"
          height="20" width="20" alt="LinkedIn Link"/>

      </a
      >
      <a
        class="headerLink"
        href="https://github.com/trentmyr/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
          height="20" width="20" alt="Github Link"/>
      </a
      >
    </div>
  </header>
  <div class="content">
<!--    <div class="horizontal-fill">-->
<!--      <h2>Projects</h2>-->
<!--      <span class="separator-line"></span>-->
<!--    </div>-->
<!--    <h3 class="placeholder-text">WIP...</h3>-->
    <div class="horizontal-fill">
      <h2>Experiences</h2>
      <span class="separator-line"></span>
    </div>
    <resume-list></resume-list>
  </div>

  <!-- <footer>
    <a
      href="https://github.com/trentmyr/myr-personal-site"
      target="_blank"
      rel="noopener noreferrer"
      style="color: #383838"
      >Source</a
    >
  </footer> -->
</div>

<router-outlet></router-outlet>
