<!-- TODO: evaluate "content" for usefulness -->
<div role="main" class="content">
  <div class="outerContainer">
    <div class="header">
      <!--  TODO: Picture of me ?  -->
      <h2>.picture.</h2>
      <h1>Trent Meyer</h1>
      <h4>Software Engineer</h4>
    </div>
    <!-- TODO: list of articles (TBD)  -->
    <div class="articles">
      <div class="article">
        <h3>[Blog Post]</h3>
        <p>The Future</p>
      </div>
    </div>
    <div class="quickLinks">
      <a href="https://github.com/trentmyr" target="_blank">github</a>
      <a href="https://www.linkedin.com/in/trent-meyer/" target="_blank">linkedin</a>
      <!--      <a>experience</a>-->
      <a href="mailto:self@trentmyr.dev">contact me</a>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
