@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400;700&display=swap');
@import "../node_modules/normalize.css/normalize.css";

/*
TODO: either find out how to import theme variables, or move/remove the files
right now all the themes will be include in build output (see angular.json) which is not ideal
*/

@media (prefers-color-scheme: light) {
  :root {
    --md-sys-color-primary: rgb(143 74 77);
    --md-sys-color-surface-tint: rgb(143 74 77);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 218 218);
    --md-sys-color-on-primary-container: rgb(59 8 15);
    --md-sys-color-secondary: rgb(118 86 87);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(255 218 218);
    --md-sys-color-on-secondary-container: rgb(44 21 22);
    --md-sys-color-tertiary: rgb(118 89 47);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(255 221 177);
    --md-sys-color-on-tertiary-container: rgb(41 24 0);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(255 248 247);
    --md-sys-color-on-background: rgb(34 25 25);
    --md-sys-color-surface: rgb(255 248 247);
    --md-sys-color-on-surface: rgb(34 25 25);
    --md-sys-color-surface-variant: rgb(244 221 221);
    --md-sys-color-on-surface-variant: rgb(82 67 67);
    --md-sys-color-outline: rgb(133 115 115);
    --md-sys-color-outline-variant: rgb(215 193 193);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(56 46 46);
    --md-sys-color-inverse-on-surface: rgb(255 237 236);
    --md-sys-color-inverse-primary: rgb(255 179 181);
    --md-sys-color-primary-fixed: rgb(255 218 218);
    --md-sys-color-on-primary-fixed: rgb(59 8 15);
    --md-sys-color-primary-fixed-dim: rgb(255 179 181);
    --md-sys-color-on-primary-fixed-variant: rgb(115 51 55);
    --md-sys-color-secondary-fixed: rgb(255 218 218);
    --md-sys-color-on-secondary-fixed: rgb(44 21 22);
    --md-sys-color-secondary-fixed-dim: rgb(230 189 189);
    --md-sys-color-on-secondary-fixed-variant: rgb(93 63 64);
    --md-sys-color-tertiary-fixed: rgb(255 221 177);
    --md-sys-color-on-tertiary-fixed: rgb(41 24 0);
    --md-sys-color-tertiary-fixed-dim: rgb(230 193 141);
    --md-sys-color-on-tertiary-fixed-variant: rgb(91 66 26);
    --md-sys-color-surface-dim: rgb(232 214 214);
    --md-sys-color-surface-bright: rgb(255 248 247);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 240 240);
    --md-sys-color-surface-container: rgb(252 234 233);
    --md-sys-color-surface-container-high: rgb(246 228 228);
    --md-sys-color-surface-container-highest: rgb(240 222 222);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: rgb(255 179 181);
    --md-sys-color-surface-tint: rgb(255 179 181);
    --md-sys-color-on-primary: rgb(86 29 34);
    --md-sys-color-primary-container: rgb(115 51 55);
    --md-sys-color-on-primary-container: rgb(255 218 218);
    --md-sys-color-secondary: rgb(230 189 189);
    --md-sys-color-on-secondary: rgb(68 41 42);
    --md-sys-color-secondary-container: rgb(93 63 64);
    --md-sys-color-on-secondary-container: rgb(255 218 218);
    --md-sys-color-tertiary: rgb(230 193 141);
    --md-sys-color-on-tertiary: rgb(66 44 5);
    --md-sys-color-tertiary-container: rgb(91 66 26);
    --md-sys-color-on-tertiary-container: rgb(255 221 177);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(26 17 17);
    --md-sys-color-on-background: rgb(240 222 222);
    --md-sys-color-surface: rgb(26 17 17);
    --md-sys-color-on-surface: rgb(240 222 222);
    --md-sys-color-surface-variant: rgb(82 67 67);
    --md-sys-color-on-surface-variant: rgb(215 193 193);
    --md-sys-color-outline: rgb(159 140 140);
    --md-sys-color-outline-variant: rgb(82 67 67);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(240 222 222);
    --md-sys-color-inverse-on-surface: rgb(56 46 46);
    --md-sys-color-inverse-primary: rgb(143 74 77);
    --md-sys-color-primary-fixed: rgb(255 218 218);
    --md-sys-color-on-primary-fixed: rgb(59 8 15);
    --md-sys-color-primary-fixed-dim: rgb(255 179 181);
    --md-sys-color-on-primary-fixed-variant: rgb(115 51 55);
    --md-sys-color-secondary-fixed: rgb(255 218 218);
    --md-sys-color-on-secondary-fixed: rgb(44 21 22);
    --md-sys-color-secondary-fixed-dim: rgb(230 189 189);
    --md-sys-color-on-secondary-fixed-variant: rgb(93 63 64);
    --md-sys-color-tertiary-fixed: rgb(255 221 177);
    --md-sys-color-on-tertiary-fixed: rgb(41 24 0);
    --md-sys-color-tertiary-fixed-dim: rgb(230 193 141);
    --md-sys-color-on-tertiary-fixed-variant: rgb(91 66 26);
    --md-sys-color-surface-dim: rgb(26 17 17);
    --md-sys-color-surface-bright: rgb(65 55 55);
    --md-sys-color-surface-container-lowest: rgb(20 12 12);
    --md-sys-color-surface-container-low: rgb(34 25 25);
    --md-sys-color-surface-container: rgb(39 29 29);
    --md-sys-color-surface-container-high: rgb(50 40 40);
    --md-sys-color-surface-container-highest: rgb(61 50 50);
  }
}

:root {
  --spacing-small: 12px;
  --spacing-medium: 20px;
  --spacing-large: 48px;
}

html {
  background-color: var(--md-sys-color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Hanuman", serif;
  color: var(--md-sys-color-on-background);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}

p {
  margin: 0;
  color: var(--md-sys-color-on-background);
  white-space: pre-line;
}

.content {
  box-sizing: border-box;
  display: flex;
  margin: 16px auto;
  padding: 0 16px;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 8px;
  row-gap: 8px;
}

