<div class="content largeRowGap">
  <header>
    <img
      style="border-style: solid; border-width: 0; border-radius: 100px"
      ngSrc="https://trentmyr-public.s3.amazonaws.com/engage_solo.JPG"
      alt="Picture of Trent Meyer"
      width="210"
      height="207"
      priority
    >
    <h1>Trent Meyer</h1>
    <h3>Software Engineer</h3>
  </header>
  <div class="articles">
    <div class="article" [routerLink]="['/posts', post.filename]" *ngFor="let post of pinnedPosts">
      <h3>{{ post.title }}</h3>
      <p class="colorSecondary">{{ post.lastUpdateDateString() }}</p>
    </div>
    <!--  TODO: all posts link  -->
  </div>
  <div class="quickLinks">
    <a routerLink="/experience">work experience</a>
    <a href="https://github.com/trentmyr" target="_blank">github</a>
    <a href="https://www.linkedin.com/in/trent-meyer/" target="_blank">linkedin</a>
    <a href="mailto:self@trentmyr.dev">contact me</a>
  </div>
</div>
